* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #634e22;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 21rem;
  margin: 0 auto;
  position: relative;
}

.white-keys{
  display:flex;
  justify-content:center;
  align-content: center;
  position: relative;
  width: 21rem;
}

.white-keys kbd {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  width: 3rem;
  height: 9rem;
  text-align: center;
  line-height : 15rem;
}

.white-keys .kbd--pressed{
  transform: translateY(0.2rem);
  box-shadow: inset 0.2rem 0 0.4rem #565555, inset -0.2rem 0 0.4rem #565555;
}

#aKey.kbd--pressed {
  transform: translateY(0.2rem);
  box-shadow: inset -0.2rem 0 0.4rem #565555;
}

#jKey.kbd--pressed {
  transform: translateY(0.2rem);
  box-shadow: inset 0.2rem 0 0.4rem #565555;
}

.black-keys{
  display:flex;
  position: absolute;
  top: 0rem;
  left: 2rem;
}

.black-keys kbd {
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  width: 2rem;
  height: 6rem;
  text-align: center;
  margin-right: 1rem;
  line-height : 10rem;
  box-shadow: 0.15rem 0 0.1rem #565555, -0.15rem 0 0.1rem #565555 ;
}

.black-keys .kbd--pressed{
  transform: translateY(0.2rem);
  box-shadow: 0.09rem 0 0.1rem #565555, -0.09rem 0 0.01rem #565555 ;
}

#eKey {
  margin-right: 4rem;
}